@import url(./color.css);

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  width: 100%;
  min-height: 44rem;
background-image: url('../img/main-backdround.png');
background-size: cover;
background-position: center;
  background-repeat: no-repeat;
  background-color: #f4ede7;
}
.main_left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10rem;
  /* background-color: red; */
}

.main .main_right {
  display: flex;
  align-items: center;
  height: 100%;
}
.main_img_component {
  display: flex;
  align-items: center;

  height: 100%;
}
.main .main_img {
  max-width: 40rem;
}

.main_header .line {
  width: 50%;
  background-color: #eadac6;
  height: 0.2rem;
}
.sec2 {
  width: 100%;
  height: 40rem;
  background-color: rebeccapurple;
}
.main_section_btn {
  margin-top: 3rem;

}
.main_header {
  font-size: 2.5rem;
  font-weight: 600;
margin-bottom: 0.5rem;
}
.main_section_btn a {
  background-color: black;
  padding: 1rem 2rem;
  color: white;
  font-size: 0.8rem;
  transition: all .2s ease;
border: 2px solid transparent;

}

.main_section_btn a:hover{
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
}
@media only screen and (max-width: 72.4375em) {
  .main_left {
    margin-left: 5rem;
  }
  .main .main_img {
    max-width: 35rem;
  }
}
@media only screen and (max-width: 62.4375em) {
  .main .main_img {
    max-width: 30rem;
  }
}
@media only screen and (max-width: 57.375em) {
  .main_header {
    font-size: 2rem;
    font-weight: 600;
  }
  .main .main_img {
    max-width: 25rem;
  }
}
@media only screen and (max-width: 48em) {
  .main {
    grid-template-columns: repeat(1, 1fr);
    min-height: 20rem;
  }
  .main_left {
    margin: 0 5rem;
  }
  .main_header {
    font-size: 2rem;
    font-weight: 600;
  }
  .main .main_right {
    display: none;
  }
}

@media only screen and (max-width: 28.375em) {
  .main_header {
    font-size: 1.6rem;
    font-weight: 600;
    
  }
  .main_pera {
    font-size: 0.9rem;
  }
  .main_section_btn {
    margin-top: 1rem;
  }
  .main_section_btn a {
    background-color: black;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 0.8rem;
  }
}
